<!DOCTYPE html>

<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="auth-page">

<div class="auth-card">

    <h2>Quên mật khẩu</h2>

    <div
        class="alert error"
        th:if="${error}"
        th:text="${error}">
    </div>

    <form
        th:action="@{/forgot-password}"
        method="post">

        <label>Email</label>

        <input
            type="email"
            name="email"
            required>

        <button
            class="btn primary full"
            type="submit">

            Gửi OTP

        </button>

    </form>

</div>

</body>
</html>