<!DOCTYPE html>

<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="auth-page">

<div class="auth-card">

    <h2>Đổi mật khẩu</h2>

    <div
        class="alert error"
        th:if="${error}"
        th:text="${error}">
    </div>

    <form
        th:action="@{/reset-password}"
        th:object="${resetDTO}"
        method="post">

        <input
            type="hidden"
            th:field="*{email}">

        <label>OTP</label>

        <input th:field="*{otp}"
               required>

        <label>Mật khẩu mới</label>

        <input
            type="password"
            th:field="*{password}"
            required>

        <button
            class="btn primary full">

            Đổi mật khẩu

        </button>

    </form>

</div>

</body>
</html>