DB_URL=jdbc:sqlserver://localhost:1433;databaseName=spring_security_demo;encrypt=false;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=YOUR_PASSWORD

SERVER_PORT=8080

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=YOUR_EMAIL
MAIL_PASSWORD=YOUR_APP_PASSWORD

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET