<!DOCTYPE html>

<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Trang chủ</title>
</head>

<body>

<main layout:fragment="content"
      class="container">

    <div class="panel">

        <h1>IOTSTAR SHOP</h1>

        <p th:if="${#authorization.expression('isAuthenticated()')}">

            Xin chào

            <strong
                th:text="${#authentication.principal.fullName}">
            </strong>

        </p>

    </div>

</main>

</body>
</html>